.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

# required for Fabric Crashlytics, but contains our secret key
app/crashlytics.properties
app/src/main/res/values/com_crashlytics_export_strings.xml
app/src/main/assets/crashlytics-build.properties
