<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.boardgamegeek" android:versionCode="17" android:versionName="2.5 beta">
	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application android:icon="@drawable/ic_launcher" android:label="@string/app_name"
		android:name="BggApplication">

		<activity android:name=".ui.HomeActivity"
			android:label="@string/app_name"
			android:theme="@style/Theme.Bgg">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".ui.CollectionActivity"
			android:label="@string/title_collection"
			android:theme="@style/Theme.Bgg">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.boardgamegeek.collection" />
			</intent-filter>
		</activity>
		
		<activity android:name=".ui.BoardgameActivity"
			android:label="@string/title_boardgame"
			android:theme="@style/Theme.Bgg">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.boardgamegeek.game" />
			</intent-filter>
		</activity>

		<activity android:name=".ui.GameInfoActivityTab"
			android:theme="@style/Theme.Bgg">
			<intent-filter>
				<category android:name="android.intent.category.TAB" />
			</intent-filter>
		</activity>

		<activity android:name=".ui.GameStatsActivityTab"
			android:theme="@style/Theme.Bgg">
			<intent-filter>
				<category android:name="android.intent.category.TAB" />
			</intent-filter>
		</activity>
		
		<activity android:name=".ui.ImageActivity"
			android:label="@string/title_image"
			android:theme="@style/Theme.Bgg">
		</activity>

		<activity android:name=".ui.BuddiesActivity"
			android:label="@string/title_buddies"
			android:theme="@style/Theme.Bgg">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.boardgamegeek.buddy" />
			</intent-filter>
		</activity>

		<activity android:name=".ui.BuddyActivity"
			android:label="@string/title_buddy"
			android:theme="@style/Theme.Bgg">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.boardgamegeek.buddy" />
			</intent-filter>
		</activity>

		<activity android:name=".ui.SearchResultsActivity"
			android:label="@string/title_search_results"
			android:configChanges="keyboardHidden|orientation"
			android:launchMode="singleTop"
			android:theme="@style/Theme.Bgg">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<meta-data android:name="android.app.searchable"
				android:resource="@xml/searchable" />
		</activity>
		
		<activity android:name=".ui.LogPlayActivity"
			android:label="@string/title_log_play"
			android:theme="@style/Theme.Bgg" />

		<activity android:name=".ui.OldBoardgameActivity" android:theme="@style/Theme.Bgg" />
		<activity android:name=".view.BoardGameStatsTab" />
		<activity android:name=".view.BoardGameExtraTab" />
		<activity android:name=".view.BoardGameLinksTab" />
		<activity android:name=".view.BoardGamePollsTab" />
		<activity android:name=".Preferences" android:label="@string/app_name" android:theme="@style/Theme.BggTitle"/>
		<activity android:name=".ui.AboutActivity" android:theme="@style/Theme.Bgg" />
		
		<service android:name=".service.SyncService" />

		<provider android:name=".BoardGameGeekProvider" android:authorities="com.boardgamegeek.provider" />
		<provider android:name=".provider.BggProvider" android:authorities="com.boardgamegeek" />

		<meta-data android:name="android.app.default_searchable"
			android:value=".ui.SearchResultsActivity" />
	</application>
</manifest>