<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   	package="com.boardgamegeek"
 	android:versionCode="5"
   	android:versionName="1.4">
      
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    
        <activity android:name=".BoardGameGeek"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ViewBoardGameList"
        		  android:label="Search Results">
		</activity>
		
		<activity android:name=".ViewBoardGame"
        		  android:label="@string/app_name">
		</activity>
        
        <activity android:name=".Preferences"
        		  android:label="@string/app_name">
		</activity>
		
    </application>
</manifest>