<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.boardgamegeek"
	android:installLocation="auto"
	android:versionCode="24"
	android:versionName="3.7" >

	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="16" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

	<application
		android:name="BggApplication"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:logo="@drawable/title_logo" >
		<activity
			android:name=".ui.HomeActivity"
			android:label="@string/app_name"
			android:launchMode="singleTop"
			android:theme="@style/Theme.BoardGameGeek" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.CollectionActivity"
			android:exported="false"
			android:label="@string/title_collection"
			android:theme="@style/Theme.Bgg" >
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />

				<data android:mimeType="vnd.android.cursor.dir/vnd.boardgamegeek.collection" />
			</intent-filter>
		</activity>

		<activity-alias
			android:name="CreateShortcutActivity"
			android:label="@string/title_boardgame"
			android:targetActivity=".ui.CollectionActivity"
			android:theme="@style/Theme.Bgg" >
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity-alias>

		<activity
			android:name=".ui.HotnessActivity"
			android:label="@string/title_hotness"
			android:theme="@style/Theme.Bgg" />
		<activity
			android:name=".ui.BoardgameActivity"
			android:exported="false"
			android:label="@string/title_boardgame"
			android:theme="@style/Theme.Bgg" >
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />

				<data android:mimeType="vnd.android.cursor.item/vnd.boardgamegeek.game" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.GameInfoActivityTab"
			android:exported="false"
			android:theme="@style/Theme.Bgg" >
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.TAB" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.GameStatsActivityTab"
			android:exported="false"
			android:theme="@style/Theme.Bgg" >
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.TAB" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.GameListsActivityTab"
			android:exported="false"
			android:theme="@style/Theme.Bgg" >
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.TAB" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.GamePollsActivityTab"
			android:exported="false"
			android:theme="@style/Theme.Bgg" >
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.TAB" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.ImageActivity"
			android:label="@string/title_image"
			android:theme="@style/Theme.Bgg" />
		<activity
			android:name=".ui.BuddiesActivity"
			android:exported="false"
			android:label="@string/title_buddies"
			android:theme="@style/Theme.BoardGameGeek" >
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />

				<data android:mimeType="vnd.android.cursor.dir/vnd.boardgamegeek.buddy" />
			</intent-filter>

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".ui.HomeActivity" >
			</meta-data>
		</activity>
		<activity
			android:name=".ui.BuddyActivity"
			android:exported="false"
			android:label="@string/title_buddy"
			android:theme="@style/Theme.BoardGameGeek" >
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />

				<data android:mimeType="vnd.android.cursor.item/vnd.boardgamegeek.buddy" />
			</intent-filter>

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".ui.BuddiesActivity" >
			</meta-data>
		</activity>
		<activity
			android:name=".ui.PlaysActivity"
			android:exported="false"
			android:label="@string/title_plays"
			android:theme="@style/Theme.Bgg" >
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />

				<data android:mimeType="vnd.android.cursor.dir/vnd.boardgamegeek.play" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.PlayActivity"
			android:exported="false"
			android:label="@string/title_play"
			android:theme="@style/Theme.Bgg" >
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />

				<data android:mimeType="vnd.android.cursor.item/vnd.boardgamegeek.play" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.SearchResultsActivity"
			android:configChanges="keyboardHidden|orientation"
			android:exported="false"
			android:label="@string/search_label"
			android:launchMode="singleTop"
			android:theme="@style/Theme.Bgg" >
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>

			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable" />
		</activity>
		<activity
			android:name=".ui.LogPlayActivity"
			android:label="@string/title_log_play"
			android:theme="@style/Theme.Bgg" />
		<activity
			android:name=".ui.LogPlayerActivity"
			android:label="@string/title_log_player"
			android:theme="@style/Theme.Bgg" />
		<activity
			android:name=".ui.CommentsActivity"
			android:label="@string/title_comments"
			android:theme="@style/Theme.Bgg" />
		<activity
			android:name=".ui.ForumlistActivity"
			android:label="@string/title_forumlist"
			android:theme="@style/Theme.Bgg" />
		<activity
			android:name=".ui.ForumActivity"
			android:label="@string/title_forum"
			android:theme="@style/Theme.Bgg" />
		<activity
			android:name=".ui.ThreadActivity"
			android:label="@string/title_thread"
			android:theme="@style/Theme.Bgg" />
		<activity
			android:name=".ui.ColorsActivity"
			android:exported="false"
			android:label="@string/title_colors"
			android:theme="@style/Theme.Bgg" >
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />

				<data android:mimeType="vnd.android.cursor.dir/vnd.boardgamegeek.boardgamecolor" />
			</intent-filter>
		</activity>
		<activity android:name=".view.BoardGameStatsTab" />
		<activity android:name=".view.BoardGameExtraTab" />
		<activity android:name=".view.BoardGameLinksTab" />
		<activity android:name=".view.BoardGamePollsTab" />
		<activity
			android:name=".pref.Preferences"
			android:label="@string/app_name" />
		<activity
			android:name=".ui.AboutActivity"
			android:label="@string/title_about"
			android:theme="@style/Theme.BoardGameGeek" >
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".ui.HomeActivity" >
			</meta-data>
		</activity>
		<activity
			android:name=".ui.PollActivity"
			android:label="@string/title_poll"
			android:theme="@android:style/Theme.Dialog" />

		<service android:name=".service.SyncService" />

		<provider
			android:name=".provider.BggProvider"
			android:authorities="com.boardgamegeek"
			android:exported="false" />

		<meta-data
			android:name="android.app.default_searchable"
			android:value=".ui.SearchResultsActivity" />
	</application>

</manifest>